# Dependencies
node_modules

# Production
dist
build
server

# Backups
backups

# Services
.vscode
.solid
.netlify
netlify

# Others
stats.html
logs
*.log
.cache
temp

# Local env files
.env*.local

# IDEs and editors
.idea
.project
.classpath
*.launch
.settings

# System files
.DS_Store
Thumbs.db
*.pem
